<div id="ps-quick-view-modal" class="ps-modal" aria-hidden="true">
  <div class="ps-modal-overlay"></div>
  <div class="ps-modal-content" role="dialog" aria-label="{{ t('quick_view') }}">
    <button type="button" class="ps-modal-close" data-modal-close aria-label="{{ t('close') }}"><i class="fas fa-times"></i></button>
    <div id="ps-quick-view-body" class="ps-modal-body">
      <div class="ps-modal-loading"><i class="fas fa-spinner fa-spin"></i> {{ t('loading') }}</div>
    </div>
  </div>
</div>
