[run]
source = .
omit =
    migrations/*
    tests/*
    */tests/*
    .venv/*
    venv/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:
show_missing = True
skip_covered = False
