[jinja2: templates/**.html]
encoding = utf-8

[python: utils/i18n.py]
encoding = utf-8

[python: routes/**.py]
encoding = utf-8

[python: services/**.py]
encoding = utf-8

[python: models/**.py]
encoding = utf-8
