<script src="{{ url_for('static', filename='adminlte/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='adminlte/js/adminlte.min.js') }}"></script>

<script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11" integrity="sha384-nLoOnA/BDh8A/jxqtckg4DumuCGOBYUnNJLZdQz/zfYNp3wcjGSoWTAzgko06G/2" crossorigin="anonymous" onerror="this.onerror=null;this.src='{{ url_for('static', filename='js/sweetalert2.min.js') }}'"></script>
<script defer src="{{ url_for('static', filename='js/base-helpers.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/i18n.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/azad-app.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/customer-select.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/payment-fields.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/delete-manager.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/action-helpers.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/notifications.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/keyboard-shortcuts.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/ui-theme.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/performance.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/smart-print.js') }}"></script>
